body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color: #555;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}
nav a:hover {
    background-color: #777;
}
aside {
    background-color: #ddd;
    padding: 20px;
    display: block;
    width: 25%;
    float: left;
    font-size: 10pt;

}
main {
    padding: 20px;
    display: block;
    width: 75%;
    float: left;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    margin-top: 10px;
    clear: both;
}
article {
    margin: 20px 20px 0 220px;
    padding: 20px;
    text-align: justify;
    
}
.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
}